body{
    background-color: white;
    font-size: 20px;
}
#halogo{
    width: 100%;
    height: 120px;
    background-image: url("pics/brulandcreative_1200_web.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.ha1{
    padding: 80px;
    display: flex;
}
#ha1txt{
    flex-grow: 1;
}
li{
    margin: 10px;
}
#ha1form{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    height: 100%;
}
.dropdown{
    background: rgb(3, 16, 11);
}
@media screen and (max-width: 1200px) {
    .ha1{
        display: block;
        padding: 10px;
    }
    #ha1form{
        width: auto;
        justify-content: start;
    }
    #ha1txt{
        padding: 0 30px;
    }

}
