<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/final.css">
    <title>Bror Bruland</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
<body>
    <header> 
        <a href="#Header"> <img src="" alt="" > </a>
        <nav class="nav-links">
            <a href="#about">OM MIG</a>
            <a href="#contact">KONTAKT</a>
            <a href="#courses">PRISER</a>
        </nav>
        <div class="menu-icon" onclick="toggleNav()">☰</div>
    </header>
    <div id="welcome" class="segment">
        <div class="apic"></div>
        <div class="atext">
            <div id="logo"></div>
            <div id="quotes">
                <div id="quote1" class="quote" > 
                    Mit forløb med Bror har været en kæmpe øjenåbner og oplevelse, og jeg kan på det varmeste anbefale Bror som personlig træner.”  <br> - GLAAAAD KUNDE
                </div>
                <div id="quote2" class="quote" > 
                    Alt i alt er dette forløb noget som jeg ser tilbage på med både glæde og fornøjelse. Træning har fået en helt anden betydning for mig og jeg kan endeligt se mig selv gå i fitness fast som en del af min ugentlige rutine. <br> Mange tak! <br> - Noah
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="segment">
        <div id="bheader">Hej, mit navn er Bror.</div>
        <div id="btext">
            Jeg har været personlig træner siden 2020, hvor jeg gennem Trænerakademiet fik mit personlige trænercertifikat. I de sidste 2 år har jeg stort set udelukkende beskæftiget mig med musikere og kreative. Derigennem har jeg lært en del om den kreative branche og hvilke udfordringer, der hører med, både fysisk og psykisk.
            
            Jeg er bosat i København og er at finde i SCH (Sporting Health Club), primært på Borups Allé, hvor jeg arbejder fuldtid som træner. Med min egen træning er jeg nysgerrig og legende og prøver altid at lære nyt om træning og bevægelse.
            
            Af den grund er min tilgang til træning, at den skal tilpasses dit liv og din hverdag - også med tourné, kroforplejning og lange køredage.
        </div>
    </div>

    <div id="courses" class="segment">
        <div id="cprices">
            <div id="pricesheader">FORLØB</div>
            <div id="pricescontent">
                <div id="online" class="coursecard" style="display: none;">
                    <div class="priceheader"> ONLINE</div>
                    <div class="pricebullets"> 
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Træningsprogram & Plan med udgangspunkt i individuelle målsætninger</div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Ugentlig Check-In m. video & teknisk feedback a’ 20 min varighed</div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Besvarelse af spørgsmål indenfor 24-timer
                            </div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Vejledning & coaching i kost, vaner & makroernæring</div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Tonsvis af viden indenfor træning, kost & no bullshit</div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Mulighed for tilkøb af fysiske sessioner</div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext"> Ingen binding & ingen opstartsgebyr</div>
                        </div>
                    </div>
                    <div class="priceprice">1400,- </div>
                </div>
                <div id="offline" class="coursecard">
                    <div class="priceheader"> Fysisk forløb</div>
                    <div class="pricebullets"> 
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Træningsprogram med udgangspunkt i individuel målsætning</div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Vejledning i løfteteknik og massere af viden om træning </div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Vejledning og coaching i kost og vaner </div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Ingen binding, ingen opstarts gebyr </div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Besvarelse af spørgsmål indenfor 24 timer </div>
                        </div>
                        <div class="bullet">
                            <div class="bulletlogo">&#x2713</div>
                            <div class="bullettext">Viden og sparring indenfor </div>
                        </div>
                    </div>
                    <div class="priceprice">1400,- </div>
                </div>   
            </div>
       
        </div>
        <div id="cpic"></div>

    </div>

    <div id="socialmedia" class="segment">
        <div id="dheader">MINE SOCIALE MEDIER</div>
        <div id="dsocials">
            <div id="instagram" class="social" onclick="redirectToInstagram()"></div>
            <div id="threads" class="social" onclick="redirectToThreads()"></div>
            <div id="x" class="social" onclick="redirectToX()"></div>
            <div id="linked_in" class="social" onclick="redirectToLinkedIn()"></div>
        </div>
        <div id="dorelse"> ELLER KONTAKT HERUNDER</div>
    </div>

    <div id="contact" class="segment">
        <div id="epic"></div>
        <div id="eform">
            <div id="formheader">KONTAKT MIG</div>
            <form id="contactme">
                <div id="formname" class="formrow">
                    <input name="firstname" id="firstname" placeholder="FORNAVN">
                    <input name="surename" id="surename" placeholder="EFTERNAVN">
                </div>
                <div class="formrow">
                    <input name="email" id="email" placeholder="E-mail">
                </div>
                <div class="formrow">
                    <input name="phonenr" id="phonenr" placeholder="Telefon nr.">
                </div>
                <div class="formrow">  
                    <select name="course" id="course" >
                        <option value="placeholder">Hvilket forløb</option>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                      </select>
                </div>
                <div class="formrow">
                    <select name="experience" id="experience" >
                        <option value="placeholder">Erfaring</option>
                        <option value="ingen"> Ingen (0 år)</option>
                        <option value="lidt"> Lidt (0-2)</option>
                        <option value="Middel"> Middel (2-4)</option>
                        <option value="Erfaren"> Erfaren (4+)</option>
                    </select>
                </div>
                <div class="formrow">
                    <input type="text" name="message" id="message" placeholder="Besked f.eks. erfaring, eller lidt om hvem du er">
                </div>
                <div class="formrow">
                    <button type="submit" class="app-form-button" id="signup">Skriv dig op</button>
                </div>


                
            </form>
        </div>
    </div>

    <footer>
        <div id="footerlinks">
            <div class="footerlink"><a href="../templates/handelsbetingelser.html">Handelsbetingelser</a></div>
            <div class="footerlink"></div>
            <div class="footerlink">© Bruland creative performance</div>
            <div class="footerlink">All Rights Reserved. CVR: 43834223</div>
        </div>
        <div id="footercontacts">
            <div id="instagram" class="social" onclick="redirectToInstagram()"></div>
            <div id="threads" class="social" onclick="redirectToThreads()"></div>
            <div id="x" class="social" onclick="redirectToX()"></div>
            <div id="linked_in" class="social" onclick="redirectToLinkedIn()"></div>
        </div>
    </footer>
    
</body>
<script src="../static/final.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script> 
<script type="text/javascript">
    emailjs.init('wd4apaVDXT-Qebbcc')
</script>

</html>